body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to top, #6a11cb 0%, #000000 100%);
  min-height: 100vh;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.row{

  display: flex;
  align-content: center;
  justify-content: center;
  margin: 3em, 6em, 0, 3em;
  padding: 3em;
}

h1{
  color: antiquewhite;
}

.container{
  padding: 100px;
}

table{
    padding: 3em;
    margin: 1em;
    background-image: linear-gradient(to bottom, red, #000000 100%);
    border-radius: 20px;
  }

.col-md-5{
  margin-top: 250px !important;
}

input{
  width: 80%;
  border-radius: 15px;
  color: white !important;
  font-weight: bold;
  font-size: larger;
}

tr{
  padding: 3rem;
  margin: 1.5rem;
  border: none;
}

td{
  padding: .3rem;
  margin: .4rem;
  border: none;
}

button{
  color:   lime !important;
  width: 100% !important;
  border: none;
  font-weight: bold;
}

button:hover{
  color: antiquewhite !important;
  font-weight: bold;
  text-decoration: underline;
}